.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  .team__list &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__item--title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-top: 10px;
  text-align: center;
}

.team__list--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team__address--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-btn-color);
  color: #afb1b8;

  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: color var(--cubic) var(--transition-timing),
    background var(--cubic) var(--transition-timing);

  &:hover,
  &:focus {
    background: var(--main-order-service);
    color: var(--main-btn-color);
  }
}

.team__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
