.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  padding-top: 0;
}

.we-do-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
  text-align: center;
  margin-bottom: 50px;
}

.we-do-list {
  list-style-type: none;
  display: flex;
}

.we-do-list .we-do-photo:not(:last-child) {
  margin-right: 30px;
}

.work-photo {
  position: relative;
}

.work-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
