.progect-description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color-cards);
  border-right: 1px solid var(--border-color-cards);
  border-left: 1px solid var(--border-color-cards);
}

.portfolio {
  padding: 94px 0;
}

.portfolio-title {
  color: var(--main-subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-project {
  width: 370px;
}

.portfolio-project:hover .portfolio-project .portfolio-link {
  display: block;
  position: relative;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--cubic) var(--transition-timing);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-img-position {
  position: relative;
  overflow: hidden;
}

.container-position-portfolio {
  position: absolute;
  display: flex;
  top: 0px;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(101%);
  transition: var(--cubic), var(--transition-timing);

  .portfolio-link:hover & {
    transform: translateY(0);
    opacity: 1;
  }

  .portfolio-link:focus & {
    transform: translateY(0);
    opacity: 1;
    transition: var(--cubic) var(--transition-timing);
  }
}

.text-position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #ffffff;

  padding: 64px 24px;
}

.portfolio-sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-subtitle-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-Portfolio-text-color);
}
